/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;

500;600&family=Roboto:wght@400;500&display=swap");

:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
      hsla(174, 48%, 72%, 0),
      hsla(174, 65%, 65%, 1));
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

.nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.change-theme {
  font-size: 20px;
  color: var(--title-color);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/*=============== Variables Dark theme ===============*/

body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --container-color: hsl(207, 4%, 12%);
}

/*=============== Color changes in some parts of the website, in light theme ===============*/

.dark-theme .nav,
.dark-theme .mav__menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  -webkit-box-shadow: 0 4px 20px hsla(207, 24%, 8%, 0.4);
          box-shadow: 0 4px 20px hsla(207, 24%, 8%, 0.4);
}

.dark-theme .home__shape-wawes,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img,
.dark-theme .testimonial__img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.dark-theme .home__social-link {
  color: var(--title-color);
}

.dark-theme .section__border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(207, 4%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-inline: 24px;
}

.grid {
  display: grid;
  gap: 24px;
}

.section {
  padding-block: 40px;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 54px;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 4px;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 48px;
}

.main {
  overflow: hidden;
  /*For Animation Scroll Reveal*/
}

.header {
  position: fixed;
  width: 100%;
  bottom: 32px;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--body-color);
  -webkit-box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
          box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  padding-inline: 24px;
  border-radius: 48px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.nav__toggle,
.nav__logo,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

/* Navigation for mmobile devices */

.nav__list {
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px 48px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4px;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__link i {
  font-size: 20px;
}

.nav__close {
  position: absolute;
  right: 24px;
  bottom: 0.7rem;
  font-size: 24px;
  cursor: pointer;
}

/*================= HOME ===============================*/

.home__container {
  row-gap: 64px;
  padding-top: 32px;
}

.home__data {
  row-gap: 24px;
}

.home__title {
  text-align: center;
  font-size: var(--biggest-font-size);
  list-style: 0.3px;
  margin-bottom: 8px;
}

.home__blob {
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 104px;
  place-items: center;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.home__perfil {
  width: 170px;
  height: 260px;
  background: var(--gradient-color);
  overflow: hidden;
  border-radius: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home__perfil img {
  width: 150px;
}

.home__shape-waves,
.home__shape-circle {
  position: absolute;
  opacity: 0.1;
}

.home__shape-waves {
  width: 50px;
  left: -24px;
  top: 80px;
}

.home__shape-circle {
  width: 150px;
  bottom: -32px;
  right: -48px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: -1;
}

.home__social {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.home__social-link {
  font-size: 20px;
  color: var(--text-color-light);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__info {
  display: grid;
  row-gap: 32px;
}

.home__info-title {
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 16px;
}

.home__info-description,
.home__info-number {
  font-family: var(--text-font);
  color: var(--title-color);
}

.home__info-description {
  padding-right: 64px;
}

.home__info-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

/*================= SKILLS ===============================*/

.skiils__container {
  row-gap: 56px;
}

.skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 40px;
}

.skills__title i {
  font-size: 16px;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob {
  display: grid;
}

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 15px;
}

.skills__data {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 48px;
  place-items: center;
  margin-bottom: 16px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.skills__blob img {
  width: 40px;
}

.skills__name {
  font-size: var(--small-font-size);
  margin-bottom: 4px;
}

.skills__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

/* Animation skills */

.skills__blob:hover img {
  -webkit-animation: bounce-skills 0.6s;
          animation: bounce-skills 0.6s;
}

@-webkit-keyframes bounce-skills {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  80% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes bounce-skills {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  80% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/*================= QUALIFICATION ===============================*/

.qualification {
  position: relative;
}

.qualification__container {
  row-gap: 56px;
}

.qualification__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 32px;
}

.qualification__title i {
  font-size: 16px;
  font-weight: initial;
}

.qualification__Info {
  display: grid;
  row-gap: 32px;
}

.qualification__name {
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
}

.qualification__country,
.qualification__year {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__country {
  margin-bottom: 12px;
}

.qualification__img {
  width: 150px;
  position: absolute;
  right: -48px;
  bottom: 196px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  opacity: 0.1;
}

/*================= SERVICES ===============================*/

.services__container {
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__card {
  position: relative;
  width: 228px;
  height: 322px;
  background-color: var(--container-color);
  text-align: center;
  padding: 56px 16px;
  border-radius: 106px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.services__card i {
  display: block;
  font-size: 32px;
  color: var(--title-color);
  margin-bottom: 12px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.services__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 24px;
}

.services__border {
  width: 248px;
  height: 342px;
  border: 1.8px solid var(--text-color-light);
  border-radius: 114px;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}

.services__card:hover i {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.services__card:hover .services__border {
  opacity: 1;
}

/*================= PROJECTS ===============================*/

.projects__container {
  overflow: initial;
}

.projects__content {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__img {
  width: 250px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.projects__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 20px;
  margin: 4px 0 20px;
}

.projects__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__button i {
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.projects__button:hover i {
  -webkit-transform: translateX(4px);
      -ms-transform: translateX(4px);
          transform: translateX(4px);
}

/* Swiper class*/

.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
  content: "";
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 40px;
  color: var(--title-color);
}

.projects__container .swiper-button-prev {
  left: -16px;
  top: 72px;
}

.projects__container .swiper-button-next {
  right: -16px;
  top: 72px;
}

.projects__container .swiper-slide {
  margin-bottom: 72px;
}

.projects__container .swiper-pagination-bullets {
  bottom: 0;
}

.projects__container .swiper-pagination-bullet {
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects__container .swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

/*================= TESTIMONIAL ===============================*/

.testimonial {
  position: relative;
}

.testimonial__content {
  text-align: center;
}

.testimonial__description {
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 24px;
}

.testimonial__name {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  margin-bottom: 4px;
}

.testimonial__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.testimonial__img {
  width: 70px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  position: absolute;
  top: 80px;
  right: -24px;
  opacity: -1;
}

/* Swiper class*/

.testimonial__container .swiper-slide {
  margin-bottom: 64px;
}

.testimonial__container .swiper-button-prev::after,
.testimonial__container .swiper-button-next::after {
  content: "";
}

.testimonial__container .swiper-button-prev,
.testimonial__container .swiper-button-next {
  font-size: 32px;
  color: var(--title-color);
  width: initial;
  height: initial;
  top: initial;
  bottom: 8px;
}

.testimonial__container .swiper-button-prev {
  left: calc(50% - 48px);
}

.testimonial__container .swiper-button-next {
  right: calc(50% - 48px);
}

.testimonial__container .swiper-button-disabled {
  opacity: initial;
  color: var(--text-color-light);
}

/*================= CONTACT ===============================*/

.contact__container {
  row-gap: 56px;
}

.contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 40px;
}

.contact__title i {
  font-size: 16px;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form {
  display: grid;
}

.contact__info {
  row-gap: 32px;
}

.contact__data {
  row-gap: 12px;
}

.contact__data-title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__data-info {
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}

.contact__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact__button i {
  font-size: 16px;
}

.contact__button:hover i {
  -webkit-transform: translateX(4px);
      -ms-transform: translateX(4px);
          transform: translateX(4px);
}

.contact__form {
  position: relative;
  row-gap: 32px;
}

.contact__form-div {
  position: relative;
  height: 64px;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 32px;
  padding: 24px;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -12px;
  left: 20px;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: 0.35rem;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.contact__form-area {
  height: 160px;
}

.contact__form-area textarea {
  resize: none;
}

.contact__form .contact__button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: 12px;
}

.contact__form .contact__button i {
  font-size: 24px;
  font-weight: initial;
}

.contact__message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 44.8px;
  left: 24px;
}

.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

.footer__container {
  padding: 48px 102px;
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 16px;
}

.footer__list,
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  margin: 40px 0;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.footer__link {
  color: var(--title-color);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__social-link {
  font-size: 20px;
  color: var(--title-color);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer__social-link:hover {
  -webkit-transform: translateY(-0.15rem);
      -ms-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}

.footer__copy {
  display: block;
  margin-top: 72px;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 8px;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: hsl(207, 4%, 65%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/* Active link */

.active-link {
  color: var(--title-color);
}

.scrollup {
  position: fixed;
  right: 16px;
  bottom: -30%;
  background-color: var(--body-color);
  -webkit-box-shadow: 0 4px 12px hsla(207, 24%, 35%, 0.15);
          box-shadow: 0 4px 12px hsla(207, 24%, 35%, 0.15);
  padding: 0.35rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  color: var(--title-color);
  font-size: 1.1rem;
  z-index: var(--z-tooltip);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, transform 0.3s;
  transition: bottom 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.scrollup:hover {
  -webkit-transform: translateY(-0.4px);
      -ms-transform: translateY(-0.4px);
          transform: translateY(-0.4px);
}

/* Show scrollup*/

.show-scroll {
  bottom: 110px;
}

@media (min-width: 576px) {
  .nav,
  .nav__menu {
    width: 380px;
  }

  .nav {
    margin: 0 auto;
  }

  .skills__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects__container,
  .testimonial__container {
    width: 400px;
  }

  .projects__container {
    overflow: hidden;
  }

  .projects__container .swiper-button-prev {
    left: 16px;
  }

  .projects__container .swiper-button-next {
    right: 16px;
  }
}

@media (min-width: 767px) {
  .home__container {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .home__data {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .home__info:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: right;
  }

  .home__info {
    margin-top: 16px;
  }

  .home__info-description {
    padding-right: 0;
  }

  .skills__container,
  .qualification__container,
  .services__container,
  .contact__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }

  .skills__container,
  .services__container {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }

  .qualification__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 160px;
       -moz-column-gap: 160px;
            column-gap: 160px;
  }

  .projects__container {
    width: 500px;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 128px;
       -moz-column-gap: 128px;
            column-gap: 128px;
  }
}

@media (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    margin-inline: 24px;
    padding: 0;
  }

  .nav__link i,
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .dark-theme .nav,
  .dark-theme .nav__menu {
    background-color: var(--body-color);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .change-theme {
    color: var(--text-color-light);
  }

  .section {
    padding-block: 128px 0;
  }

  .home__title {
    font-size: 36px;
  }

  .scrollup {
    right: 48px;
  }

  .show-scroll {
    bottom: 80px;
  }

  .bg-header {
    -webkit-box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
            box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  }

  .dark-theme .bg-header {
    -webkit-box-shadow: 0 6px 24px hsla(207, 24%, 8%, 0.6);
            box-shadow: 0 6px 24px hsla(207, 24%, 8%, 0.6);
  }
}

@media (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .section__border {
    padding-bottom: 96px;
  }

  .section__subtitle {
    margin-bottom: 80px;
  }

  .home__title {
    font-size: 40px;
  }

  .home__blob {
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }

  .home__perfil {
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }

  .home__perfil img {
    width: 300px;
  }

  .home__shape-wawes {
    width: 100px;
    left: -64px;
    top: 160px;
  }

  .home__shape-circle {
    width: 250px;
    bottom: -16px;
    right: -80px;
  }

  .home__data {
    row-gap: 40px;
  }

  .home__social {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .home__social-link {
    font-size: 24px;
  }

  .skills__container {
    -webkit-column-gap: 160px;
       -moz-column-gap: 160px;
            column-gap: 160px;
  }

  .skills__title {
    margin-bottom: 48px;
  }

  .skills__title i {
    font-size: 24px;
  }

  .skills__name {
    font-size: var(--normal-font-size);
  }

  .skills__info {
    gap: 48px;
  }

  .qualification__container {
    -webkit-column-gap: 14rem;
       -moz-column-gap: 14rem;
            column-gap: 14rem;
  }

  .qualification__title {
    margin-bottom: 48px;
  }

  .qualification__title i {
    font-size: 20px;
  }

  .qualification__name {
    font-size: var(--h3-font-size);
  }

  .qualification__img {
    width: 300px;
    left: -96px;
    bottom: 80px;
  }

  .services__container {
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
  }

  .services__card {
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 56px 24px;
  }

  .services__card i {
    font-size: 40px;
  }

  .services__border {
    width: 265px;
    height: 365px;
    border-radius: 136px;
  }

  .projects__container {
    width: 900px;
  }

  .projects__container .swiper-button-prev,
  .projects__container .swiper-button-next {
    font-size: 48px;
  }

  .projects__container .swiper-button-prev {
    left: -16px;
  }

  .projects__container .swiper-button-next {
    right: -16px;
  }

  .projects__container .swiper-slide {
    margin-bottom: 104px;
  }

  .projects__img {
    width: 320px;
    margin-bottom: 32px;
  }

  .testimonial__container {
    width: 566px;
  }

  .testimonial__container .swiper-button-prev,
  .testimonial__container .swiper-button-next {
    font-size: 40px;
  }

  .testimonial__container .swiper-button-prev {
    left: calc(50% - 5rem);
  }

  .testimonial__container .swiper-button-next {
    right: calc(50% - 5rem);
  }

  .testimonial__container .swiper-slide {
    margin-bottom: 96px;
  }

  .testimonial__description {
    font-size: var(--h2-font-size);
    margin-bottom: 32px;
  }

  .testimonial__img {
    width: 200px;
    top: 13rem;
    right: 64px;
  }

  .contact__title {
    margin-bottom: 48px;
  }

  .contact__title i {
    font-size: 20px;
  }

  .contact__info {
    row-gap: 48px;
  }

  .contact__data-info {
    font-size: var(--normal-font-size);
  }

  .contact__form {
    row-gap: 40px;
  }

  .footer__container {
    padding: 64px 0 48px;
  }

  .footer__list {
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    margin: 48px 0px;
  }

  .footer__social {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .footer__social-link {
    font-size: 24px;
  }

  .footer__copy {
    margin-top: 80px;
  }
}

@media (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: -60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--body-color);
    width: 88%;
    padding: 32px 24px 80px;
    border-radius: 32px;
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
  }

  .show-menu {
    bottom: 32px;
  }
}

@media (max-width: 340px) {
  .container {
    margin-inline: 16px;
  }

  .nav__menu {
    padding-bottom: 64px;
  }

  .nav__list {
    gap: 16px 20px;
  }

  .skills__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__img {
    width: 200px;
    justify-self: center;
  }
}